<!-- views/contact.ejs -->
<script type="speculationrules">
  {
    "prerender": [
      {
        "where": {
          "and": [
            { "href_matches": "/*" },
            { "not": { "href_matches": "/logout" } },
            { "not": { "href_matches": "/*\\?*(^|&)add-to-cart=*" } },
            { "not": { "selector_matches": ".no-prerender" } },
            { "not": { "selector_matches": "[rel~=nofollow]" } }
          ]
        }
      }
    ],
    "prefetch": [
      {
        "urls": ["about", "/"]
      }
    ]
  }
</script>
<%- include('partials/header') %>
<main>
  <p>This is the Contact Page.</p>
  <img src="https://picsum.photos/200/300" alt="Contact us">
</main>
<%- include('partials/footer') %>