<!-- views/index.ejs -->
<script type="speculationrules">
  {
    "prerender": [
      {
        "where": {
          "and": [
            { "href_matches": "/*" },
            { "not": { "href_matches": "/logout" } },
            { "not": { "href_matches": "/*\\?*(^|&)add-to-cart=*" } },
            { "not": { "selector_matches": ".no-prerender" } },
            { "not": { "selector_matches": "[rel~=nofollow]" } }
          ]
        }
      }
    ],
    "prefetch": [
      {
        "urls": ["about", "contact"]
      }
    ]
  }
</script>
<%- include('partials/header') %>
<main>
  <p>Welcome to the Home Page!</p>
</main>
<%- include('partials/footer') %>